<section class="mas-section">
  <header class="mas-section__header">
    <h3 class="mas-section__title">Or enter address manually</h3>
  </header>

  <form [formGroup]="form()" class="mas-form">
    <div class="mas-grid">
      <nx-formfield label="Country *">
        <nx-dropdown formControlName="country" placeholder="Select">
          @for (c of countries(); track c.value) {
            <nx-dropdown-item [value]="c.value">{{ c.label }}</nx-dropdown-item>
          }
        </nx-dropdown>
        @if (showError('country')) {
          <nx-error nxFormfieldError>Country is required.</nx-error>
        }
      </nx-formfield>
      <nx-formfield label="City *">
        <input nxInput formControlName="city" autocomplete="off" />
        @if (showError('city')) {
          <nx-error nxFormfieldError>City is required.</nx-error>
        }
      </nx-formfield>
      <nx-formfield label="ZIP / postal code *">
        <input nxInput formControlName="postalCode" autocomplete="off" />
        @if (showError('postalCode')) {
          <nx-error nxFormfieldError>Postal code is required.</nx-error>
        }
      </nx-formfield>
      <nx-formfield label="Street and number *">
        <input nxInput formControlName="streetAndNumber" autocomplete="off" />
        @if (showError('streetAndNumber')) {
          <nx-error nxFormfieldError>Street and number is required.</nx-error>
        }
      </nx-formfield>
      <nx-formfield label="Address line 2">
        <input nxInput formControlName="addressLine2" autocomplete="off" />
      </nx-formfield>
      <nx-formfield label="State / province">
        <input nxInput formControlName="state" autocomplete="off" />
      </nx-formfield>
    </div>

    <div class="mas-actions">
      <button nxButton="secondary small" type="button" (click)="add.emit()">
        <nx-icon name="plus" nxIconPositionStart></nx-icon>
        Add manual address
      </button>
    </div>
  </form>

  @if (entries().length > 0) {
    <ul class="mas-list" aria-label="Manual entries to add">
      @for (e of entries(); track $index) {
        <li class="mas-item">
          <div class="mas-item__body">
            <span class="mas-item__addr">{{ e.streetAndNumber }}, {{ e.postalCode }} {{ e.city }}</span>
            <span class="mas-item__country">{{ e.country }}@if (e.state) { · {{ e.state }} }</span>
          </div>
          <button nxIconButton="tertiary small" type="button" (click)="remove.emit($index)" aria-label="Remove">
            <nx-icon name="trash"></nx-icon>
          </button>
        </li>
      }
    </ul>
  }
</section>
